@import "base";

body {
  background: $main-background;
  font-size: $font-size;
  font-family: $family-1;

  @include flex-column;
  padding: 50px 0;
}

.card {
  background-color: $card-background;
  width: 90vw;
  border-radius: 5px;

  #image-container {
    position: relative;

    #mobile-image {
      width: 100%;
      border-radius: 5px 5px 0 0;
      display: block;
    }

    #desktop-image {
      display: none;
    }

    #image-color {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(140, 0, 233);
      opacity: 0.5;
    }
  }

  #card-content {
    padding: 0 30px 35px 30px;

    h1 {
      color: $stats-color;
      text-align: $text-center;
      margin-top: 30px;

      span {
        color: $accent-color;
      }
    }

    p {
      text-align: $text-center;
      color: $main-paragraph;
      margin-top: 20px;
      line-height: 1.5;
    }
  }
}

#stats-container {
  @include flex-column;
  text-align: $text-center;
  margin-top: 30px;
  gap: 30px;

  .stat {
    color: $stat-headings;
    font-size: 0.7rem;
    font-family: $family-2;
  }

  .bold {
    color: $stats-color;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $family-1;
  }
}

footer {
  margin-top: 20px;
  text-align: $text-center;
  font-size: 0.7rem;

  .attribution {
    color: $stats-color;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }
}

@media (min-width: 900px) {

  body {
    height: 100vh;
    padding: 0;
  }

  .card {
    width: 95vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;

    #image-container {

      #mobile-image {
        display: none;
      }

      #desktop-image {
        display: block;
      }
    }

    #card-content {
      padding: 30px 42px 10px 42px;

      h1, p {
        text-align: $text-center;
      }
    }
  }

  #stats-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
  }
}